{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="shadow p-4" style="width: 100%; max-width: 400px; border-radius: 1rem; background-color: #ffffff; border: 1px solid #e0e0e0;">

            <div class="text-center mb-3">
                <h2 class="fw-bold" style="margin-bottom: 10px;">Connexion</h2>
            </div>

            {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 text-center">
                    Connecté en tant que {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <form method="post">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Nom d'utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                </div>

                <button class="btn btn-primary w-100" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}
